@font-face  {
    font-family: spaceFont;
    src: url(./SpaceGrotesk-VariableFont_wght.ttf)
}

:root   {
    --color-logo: white;
    --color-form: rgb(236, 233, 233);
}

body    {
    display: flex;
    margin: 0;
}

.background {
    display: flex;
    background-image: url('nasa-Yj1M5riCKk4-unsplash.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    font-family: spaceFont;
}

.logo   {
    display: flex;
    padding-top: 100px;
    gap: 30px;
    justify-content: center;
    align-items:flex-start;
    color: var(--color-logo);
}

#imglogo    {
    width: 20%;
    height: auto;
}

.form   {
    display: flex;
    flex-direction: column;
    background-color: var(--color-form);
    font-family: spaceFont;
    padding-bottom: 125px;
}

.formentry  {
    background-color: rgb(241, 241, 239);
    padding: 10px 0px 30px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.formheader   {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    padding: 100px 150px 30px 50px;
}


.formname   {
    display: flex;
    gap: 40px;
    padding-bottom: 15px;

}

.formcontact    {
    display: flex;
    gap: 40px;
    padding-bottom: 15px;
}

.formpassword   {
    display: flex;
    gap: 40px;
    padding-bottom: 15px;
}

.formbutton {
    padding-top: 30px;
}

.input  {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.formbutton button{
    border: none;
    background-color: #638ca6;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.formbutton button:hover {
    cursor: pointer;
}
